@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.bg-pGrad {
  background-image: linear-gradient(hsl(281, 66%, 47%), hsl(303, 66%, 47%));
}
.bg-sGrad {
  background-image: linear-gradient(hsl(331, 90%, 62%), hsl(292, 90%, 62%));
}
.text-pGrad {
  color: linear-gradient(hsl(281, 66%, 47%), hsl(303, 66%, 47%))
}
.text-sGrad {
  color: linear-gradient(to 90deg, hsl(331, 90%, 62%), hsl(292, 90%, 62%))
}